*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    padding: 2rem;
    height: 100vh;
    /* viewport height */
    background: linear-gradient(to bottom, #ff5e88, #ff9966);
}
*{
    text-transform: capitalize;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
}
h3{
    font-weight: 600;
}
.calendar{
    margin: auto;
    width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calendar header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendar ul{
    /* text-decoration: none; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.calendar ul li{
     width : calc(100% /7);
     margin-top: 25px;
     position: relative;
     z-index: 2;
}
#prev, #next{
    width:20px;
    height: 20px;
    position: relative;
    top:50%;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}
#prev::before, #next::before {
    content: "";
    width:50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left : 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0 ;
    border-color: #ccc;
}
/* Pseudo-elements:
::before is a pseudo-element that creates content before 
the actual content of the selected element.
Pseudo-elements like ::before and ::after are used to
 add decorative content or other elements, often for styling purposes. */
#next::before {
    transform: translate(-50% , -50%) rotate(45deg);
}
#prev::before{
    transform: translate(-50%, -50%) rotate(-135deg);
}
#prev::before:hover,  #next::before:hover{
    border-color: #000 transparent transparent transparent;
}
.days{
    font-weight: 600;
}
.dates li.today{
    color: #fff;
}
.dates li.today::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}
.dates li.inactive{
    color:#ccc;
}
@media(max-width:450px){
    .calendar{
        width:90%;
    }
}